#corona {
  background-image: radial-gradient(circle closest-side at center, white, rgb(255, 255, 255) 10%, gold 50%, orange, rgb(236, 89, 10), black, black);
}

#bulb img {
  height: 30%;
}

#bulb {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle 430px at 50% 200px, rgb(255, 187, 0), #111);
}

#green-blue {
  background: linear-gradient(rgb(12, 133, 12), rgba(2, 61, 128, 0), rgb(253, 196, 245));
}

#repeating-line {
  background: radial-gradient(white, transparent),
    repeating-linear-gradient(black,
      hsl(0, 0%, 0%, 0.1) 20px,
      hsla(60, 4%, 31%, 0.876) 20px,
      rgb(67, 67, 57) 25px);
}

#ukraine {
  background: linear-gradient(blue 40%, white 50%, yellow 60%, yellow);
}

#indian-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(orange, white, white, green);
}

#indian-flag .chakra {
  width: 15%;
  height: 20%;
  border-radius: 50%;
  border: 8px, solid blue;
  background: radial-gradient(circle at center, blue, blue 10%, transparent 10%), repeating-conic-gradient(blue 0% 7.5deg, transparent 0% 15deg);
}