.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1ca80;
}

.header {
  display: flex;
  font-size: 50px;
}

.previews-container {
  height: 95%;
  width: 95%;
  background-color: peru;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
}

.preview {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
}

.name {
  font-size: 22px;
  color: rgb(255, 253, 253);
}