* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.sidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

}

.sidebar div {
  width: 100%;
  height: 40px;
}

.sidebar div a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#corona {
  background-color: red;
}

#ukraine {
  background-color: blue;
}

#grean-blue {
  background-color: green;
}