* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.sidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sidebar div {
  width: 100%;
  height: 40px;
}

.sidebar div a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  background-color: #eee;
}