* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 100px;
}

.options {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.options div {
  width: 100px;
}

.options-container {
  padding-left: 2em;
}

.options ol {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options li {
  text-decoration: none;
}

/* #corona {
  background-color: red;
}

#ukraine {
  background-color: blue;
} */