* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar div {
  width: 100%;
  height: 40px;
}

.sidebar div a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#corona {
  background-color: red;
}

#ukraine {
  background-color: blue;
}

.main {
  height: 100vh;
  width: 90%;
  background-image: radial-gradient(circle closest-side at center, white, rgb(255, 255, 255) 10%, gold 50%, orange, rgb(236, 89, 10), black, black);
}